<template>
  <div>
    <Page pageTitle="О проекте" />
  </div>
</template>

<script>
    // @ is an alias to /src
    import Page from "@/components/Page.vue";

    export default {
        name: "page",
        components: {
            Page
        }
    };
</script>