<template>
    <div class="hello">
        <h1>{{ pageTitle }}</h1>
        <p>
            Мир творит гравитационный парадокс. Гений заполняет язык образов, открывая новые горизонты.
            Культ джайнизма включает в себя поклонение
            Махавире и другим тиртханкарам, поэтому генетика оспособляет сенсибельный мир, открывая новые горизонты.
        </p>
        <form
            id="app"
            @submit="checkForm"
            action="#"
            method="post">

            <div>
                <label for="name">Имя</label>
                <br>
                <input id="name" type="text" name="name">
            </div>

            <div>
                <label for="name">Сообщение</label>
                <br>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

            <div>
                <input type="submit" value="Отправить">
            </div>

        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageTitle: 'Контакты'
            }
        },
        methods: {
            checkForm: function (e) {

                e.preventDefault();
            }
        }
    };
</script>