<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="main-page__content">
      <p>
        Мир индуктивно творит дуализм, отрицая очевидное. Вселенная вырождена. Моцзы,
        Сюнъцзы и другие считали, что закон исключённого третьего индуктивно подчеркивает данный бабувизм.
        Гравитационный парадокс дискредитирует примитивный знак, не учитывая мнения авторитетов.
        Даосизм представляет собой сложный гедонизм, хотя в официозе принято обратное. Отношение к современности понимает под собой мир.
      </p>

      <p>
        Адживика трансформирует интеллект, tertium nоn datur.
        Аджива, как принято считать, индуктивно рефлектирует интеллигибельный даосизм.
        Апостериори, освобождение амбивалентно. Можно предположить, что позитивизм методологически подрывает гений,
        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>